:root {
  --main-font-color: #2157A1;
  --main-line-color: #525ca3;
  --main-font-btn-color: #8F6EAA;
  --main-back-color: #727fa8;
  --main-select-font-color: #596066;
  --main-bg-btn-color: #f2f2f2;
  --main-sub-a-color: #BCBC1C;
  --second-line-back-color: #f9f9f9;
  --second-font-color: #596066;
  --btn-hover-color: #c7b1da;
  --main-footer-color: #0B3B7C;

}



/* General */
body{
    font-family: "Lato";
    background-color: #f9f9f9;
    overflow-x: hidden !important;
    letter-spacing: 1px;
    height: 100%;
}

h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: black;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: regular;
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

h5{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #8F6EAA;
}


.cf {
  background-color: #727fa8;
}

/* navbar-desktop */
.navbar-desktop{
    position: fixed;
    height: 100%;
    background-color: #fff;
    width: 200px;
}

.img-navbar-desktop{
    width: 150px;
    max-height: 50px;
    position: absolute;
    top: 20px;
    left: 25px;
}


.menu-desktop{
    margin-top:150px;
}

.menu-desktop ul li{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 40px;
}

.menu-desktop ul li a{
    color: #2157A1;


}
.menu-mobile ul li{
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.menu-mobile ul li a{
    color: #2157A1;
    font-size: 0.9em !important;

}


.activo{
    color: #BCBC1C !important;
    text-decoration: underline;
    text-decoration-color: #BCBC1C;
}

.line{
    border: 0.5px solid #525ca3;
}

.linem{
    border: 0.5px solid #525ca3;
    width: 60%;
    padding-left: 20%;
}

.line2{
    margin-top: 1rem;
    border: 0.5px solid #fff;
}

.line3{
    margin-top: 1rem;
    border: 0.5px solid #8F6EAA;
    width: 25%;
    display: inline-block
}

.line4{
    margin-top: 1rem;
    border: 0.5px solid #fff;
    width: 25%;
    display: inline-block
}

.sizefont{
    background: #fff;
    border-bottom: 1px solid #bcbcbc;
    margin: 0px;
    font-size: .8rem;
    text-align: right;
}

.sesion{
    margin-top: 30%;
}

.padtop15{
  padding-top: 15px !important;
}

.pad-left1{
    padding-left: 1rem;
}
.pad-left2{
    padding-left: 2rem;
}
.pad-left3{
    padding-left: 4rem;
    padding-right: 4rem;
}

#img1{
  padding-right: 0px !important;
}

.pad-left{
    padding-left: 4rem;
    margin-bottom: -5px !important;
}

.pad-right2{
    padding-right: 2rem;
}

.pad2{
  padding: 1rem;
}

/* nav mobile */
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {

    font-size: 44px;

}


nav .button-collapse {
    float: left;

}


nav {
    background-color: #fff;
    width: 100%;
    height: 75px;
}

.img-mobile{
    width: 100%;
}

nav a {
    color: #4a62ae;
}
a.links{
  text-transform: uppercase;
  color: #596066;
  font-size: 11px;
  font-weight: regular;
  text-decoration: underline;
  padding-left: 1rem;
  cursor: pointer;
}

a.linkM{
  text-transform: uppercase;
  color: #596066;
  font-size: 11px;
  font-weight: regular;
  text-decoration: underline;
  cursor: pointer;
}

.breads{
  padding-top: .5rem;
}
.breadcrumb{
  text-transform: uppercase;
  color: #596066;
  font-size: 11px;
  font-weight: regular;
}
.breadcrumb:before{
  color: #596066;
  font-size: 11px;
  padding-top: 3px;
}

.breadcrumb:last-child {
  text-transform: uppercase;
    color: #8F6EAA;
}
/* row contenido */

#contenedor{
  position: absolute;
  width: calc(100% - 200px);
  left: 200px;
}
.contenido{
  width: 100%;
  margin: auto;
  /* height: auto;
  min-height: 100%; */
}

/* footer */
.footer{
  background-color: #f9f9f9;
  width: 100%;
  height: 130px;
  margin: 0 auto ;

}

.ff{
    background-color: #0B3B7C !important;
    font-size: 12px;
    font-weight: black;
}

.ff2{
  font-weight: regular;
}

.ff a{
    color: #fff;
    text-decoration: underline;
}


.padtop {
  padding-top: 2rem;
}

.padright{
  padding-right: 50px !important;
}

.typeCon{
  font-size: 0.8rem;
}
/*****************/
/* seccion inicio */
.img-principal{
    width: 100%;

}
/*****************/


.lineh {
    border-left:1px solid #fff;
    height: 12px !important;
}

.copyright {
    color: #2157A1;
    font-size: 12px;
    font-weight: regular;
    margin: 5px 0 !important;
}

/*****************/

/*Seccion cursos*/

.cursos a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

}
.tits{
  text-align: left;
  color: #2157A1 !important;
  text-transform: uppercase;
  margin-top: 0 !important;
}
.recientes{
    text-align: left;
    color: #2157A1 !important;
    text-transform: uppercase;
    margin-top: 0 !important;
}
.cursos {
    padding-bottom: 1rem !important;
}

.iconcourse {
    position: absolute;
    font-size: 2rem;
    top:0px;
    right: 5%;
    width: 10%;
    display: inline-block;

}

#font-down{
  font-size: .6rem;
  font-weight:700;
  cursor: pointer;
}

#font-up{
  font-size: .8rem;
  font-weight:700;
  cursor: pointer;
}

#font-downMob{
  font-size: .6rem;
  font-weight:700;
  cursor: pointer;
}

#font-upMob{
  font-size: .8rem;
  font-weight:700;
  cursor: pointer;
}

.upscase{
  text-transform: uppercase;
}

.smalltext{
  font-size: .8rem;
}

.smalltextright{
  font-size: .8rem;
  text-align: right !important;
}

.consulta{
  padding: 10px;
}

.iconcourseshow {
    position: relative;
    font-size: 2rem;
    top:0px;
    right: 0%;
    width: 10%;
    display: inline-block;

}

.moduleimg{
  background-color: #8F6EAA;
  height: 95%;
  width: 95%;
}

.categoryimg{
    height: 95%;
    width: 95%;
}

.categoryimgM{
    height: 54%;
    width: 54%;
}

.moduleimg-disabled{
    background-color: #ABB2B9;
    height: 95%;
    width: 95%;
}

.moduleimgM{
    background-color: #8F6EAA;
    height: 55%;
    width: 55%;
}
  
.moduleimg-disabledM{
    background-color: #ABB2B9;
    height: 55%;
    width: 55%;
}

.iconmodule {
    font-size: 1.5rem;
    display: inline-block;
}

.iconbtn {
    position: relative;
    top:-10px;
    font-size: 2rem;
    padding-left: 3%;

}

.iconbtncontinuar {
  position: relative;
  top: -5px;
  font-size: 2rem;
  margin-left: -35px !important;

}

/* a span.iconbtn:hover:before {
  color: #c7b1da !important;
} */

.ingresar {
  font-size: 0.8rem;
  padding-left:3%;
  display:inline-block;
}

.iconmenu{
  position: relative;
  font-size: 2rem;
  padding-right:3%;
  display:inline-block;
}

.user{
    color: #2157A1 !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1rem;
}
.cursoview {
    color: #2157A1 !important;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
}

.cursoev{
    color: #2157A1 !important;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 10px;
}

.ingreso {
  color: #2157A1 !important;
  text-transform: uppercase;
}

.select-dropdown.dropdown-content li:hover {
    background-color: #8f6eaa;
    color: #fff !important;
}
.dropdown-content li > a, .dropdown-content li > span:hover{
    color: #fff !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #8f6eaa;
    -webkit-box-shadow: 0 1px 0 0 #8f6eaa;
    box-shadow: 0 1px 0 0 #8f6eaa;
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #8f6eaa;
    border-bottom: 2px solid #8f6eaa;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

#references{
  margin-bottom: 15px;
  margin-top: 15px;
}

#mobile-demo {
    margin-top: 107px;
}
/*******************/


[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #8F6EAA;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #8F6EAA;
}


.dropdown-content li > a, .dropdown-content li > span {

  color: #596066;

}

/******************/
/* seccion academia */
.card-academia{
    height: auto;
    background-color: #fafafa !important;
}

.categoria-academia{
    position: absolute;
    top:10px;
    left: 20%;
    width: 60%;
    text-transform: uppercase;
    text-align:right;
    color: #596066;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block;
}

.categoria-evaluacion{
    color: #596066;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block;
    position: relative;
    right: 0;
}

.categoria-modulos {
    color: #596066;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: regular;
    display: inline-block;
    word-break: keep-all;
}

.titulo-academia{
    position: absolute;
    top:50px;
    left: 20px;
    text-transform: uppercase;
    color:#2157A1;
    padding-top: 40px;
    word-break: break-word;
}

.titulo-academia2{
    left: 20px;
    text-transform: uppercase;
    color:#2157A1;
    padding-top: 20px;

}

.titulos-modulo {
  left: 20px;
  text-transform: uppercase;
  color:#8F6EAA;
  font-size: 16;
  font-weight: bold;
  padding-top: 20px;
}

.modulos{
    padding: 3% 0 3% 0;
    color: #596066;
    font-size: 12px;
    font-weight: regular;
}

.acept{
  background-color: #8F6EAA;
}

.error{
  background-color:#e57373;
}
/******************/



/*******************/

/* btn aprender mas */
.aprender-mas{
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 2rem;


}

.aprender-mas a{
    color: #8F6EAA !important;
    background-color: #f2f2f2;
    padding: 10px;
}

.textMods{
  color: #8F6EAA !important;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
}

.btnAcademia{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  color: #8F6EAA !important;
  background-color: #f2f2f2;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-width: 0px;
  border-style: none;
  border-color: none;
}

.btnAcademiaL{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  color: #8F6EAA !important;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-width: 0px;
  border-style: none;
  border-color: none;
}

.btnAcademia:hover{
  color: #c7b1da !important;
  background-color: #fff !important;
  border: 1px solid #c7b1da;
}

.btnAcademiaFloat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  background-color: #8F6EAA !important;
  color: #f2f2f2;
}

.btnAcademiaFloat:hover{
  color: #c7b1da !important;
  background-color: #c7b1da !important;
}

.registro{
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.registro a{
  color: #8F6EAA !important;
  padding: 10px;
}

.leer-mas{
    padding-top: 170px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-left: -3px;
    width: 75%;
    color: #8F6EAA;

}

.leer-mas a{
  font-size: 14px;
  font-weight: bold;
    color: #8F6EAA;
    width: 70%;
}


.ver-mas{
    background-color: red;
    position: relative;
    float: right;
    top: 100%;
}

/* subtitulo */
.subtitulo{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: left;
    color: #6281e1 !important;
    text-transform: uppercase;
    margin-top: 0 !important;

}

.submenu {
    margin-left: 10px;
    font-size: .8rem;
    line-height: 2px;

}

.mods {
    height: 400px;
}

.cursoscard {
    height: 250px;
}


.moduloslista {
    padding: 5px 0 5px 0;
    height: 200px;
    font-size: 14px;
    font-weight: regular;
    color: #596066;

}

.leer-masmodulos {
    position: absolute;
    bottom: 20px;
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #2157A1;
}

.leer-masmodulos_50 {
    position: absolute;
    bottom: 50px;
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #2157A1;
}

.leer-masmodulos a{
    color: #8F6EAA;
}

.leer-masmodulos_50 a{
    color: #8F6EAA;
}

/* Expertos  */

.expertostitulo {
    font-weight: 700;
    text-transform: uppercase;
    color:#2157A1;;
    font-size: 1rem;
}

.expertosparticipacion{
    padding: 3% 0 3% 0;
    color: #596066;
    font-size: 0.8rem;
    overflow: hidden;
    max-height: 200px;
}

.expertosparticipacion2{
    padding: 3% 0 3% 0;
    color: #596066;
    font-size: 0.8rem;
    overflow: hidden;

}

.upper{
    text-transform: uppercase;
}

.expertoscard {
    height: 450px;
}





/*aux*/
.txt-blanco{
    color:#fff !important;
}

.verde{
    color:#68b4d8 !important;
}

.negro{
    color: #596066 !important;
}

.collapsiblemod {
    cursor: pointer;
    padding: 10px !important;
    width: 100%;
    height: 150px;
    border: none;
    text-align: left;
    outline: none;

    color: #2157A1;
}

.collapsiblemod-disabled {
    cursor: no-drop;;
    padding: 10px !important;
    width: 100%;
    height: 150px;
    border: none;
    text-align: left;
    outline: none;

    color: #ABB2B9;
}

.modOut{
  padding: 10px !important;
  width: 100%;
  height: 150px;
  border: none;
  text-align: left;
  outline: none;
  color: #2157A1;
}


.activeMod, .collapsiblemod:hover {
    background-color: #c7b1da;
    color: #fff;
}

.collapsiblemod-disabled:hover{
    background-color: #e9e9e9;
}

.active .titulo-academia2{
    color: #fff;
}

.purple-academia{
  background-color: #8F6EAA !important;
}

.card .active {
    margin: 2rem 0 -1rem 0 !important;
    transition: margin 0.3s ease-out;
}

.card .collapsiblemod{
    transition: margin 0.3s ease-out;
}

.content {
    padding-left: 2rem !important;
    max-height:0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: #fff;
    border: 1px solid #8F6EAA;
    display: none;
    margin-left: .8rem !important;
    padding-bottom: 1rem !important;


}

.resumen{
    padding: 5px;
    font-style: italic;
}

.cerrar{
    float: right;
    background-color: #8F6EAA;
    padding: 5px;
    position: relative;
    right: -.75rem;
    width: 4%;
    text-align: center;
}

.cerrarModal{
  float: right;
  background-color: #8F6EAA;
  padding: 5px;
  position: relative;
  width: 4%;
  text-align: center;
}

.titulo-funciona{
    font-weight: 700;
    left: 20px;
    text-transform: uppercase;
    color:inherit;
    font-size: 1.1em;
    padding-top: 20px;
    color:  #8F6EAA;
}

.text-funciona{
    padding: 3% 0 3% 0;
    color: #596066;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 2%;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  bottom: 0%;
  font-size: 1rem;

}

/* Position the "next button" to the right */
.next {

  right: 0;
  border-radius: 3px 0 0 3px;
}



/* The dot/bullet/indicator container */
.dot-container {
  text-align: left;
  padding: 20px 20px 20px 40px;

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  display: inline-block;
  font-size: .8rem;
  margin-bottom: 5px;

}



/* Add a background color to the active dot/circle */
.activeFunciona, .dot:hover {
  color: #8F6EAA;
  text-decoration: none;
}

i.material-icons.prefix.active{
  background-color: inherit;
}

.reg label{
  color: #9e9e9e;
  font-size: .9rem;
}

.reg label.active {
  background-color: inherit;
}

.select-dropdown ul.active{
  background-color: inherit;
}

.modal{
  max-height: 90% !important;
  top: 5% !important;
  bottom: 5%;
}

#modalInsc{
  max-height: 20% !important;
  top: 10% !important;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .l3{
    width: 33.33% !important;
  }
}


@media only screen and (min-width:993px) and (max-width:1193px){

  .leer-masmodulos {
      width: 50%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #2157A1;
  }

  .leer-masmodulos_50 {
      padding-bottom: 20px;
      width: 50%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #2157A1;
  }

}

/* media query */
@media only screen and (max-width: 992px) {
  #font-down{
    font-size: 1.2rem;
    font-weight:700;
    cursor: pointer;
  }
  .contenido{
    height: 100% !important;
  }

  .marg0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #font-up{
    font-size: 1.5rem;
    font-weight:700;
    cursor: pointer;
  }
    #contenedor{
    position: absolute;
    left: 0px;
    width: 100%;
    }


    nav .brand-logo {
    width: 30%;

    }

    .img-principal{
        width: 100%;
        max-width: none !important;
        min-width: none !important;
    }

    .side-nav{
      width: 100%;
      background-color: #f9f9f9;
    }

    #sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0);
    z-index: 997;
    will-change: opacity;
}

.btnAcademiaMobi{
  padding-bottom: 50px !important;
  text-align: center;
}

.mods {
    height: 250px;
}
.leer-masmodulos {
    width: 100%;

}

.leer-masmodulos_50 {

    width: 100%;

}

.titulo-academia2 {
    padding-top: 40px;
}

.aprender-mas{
    text-align: center;

}

.sesion{
    margin-top: 5%;
}


.lineh {
border-left:0px;
height: 16px !important;
}

.footer .ff .row{
  padding-top: 15px !important;
}

}




@media only screen and (min-width: 1200px) {

    .aux-padding{
        padding-top: 30px !important;
    }

    .imgExperts{
      max-width: 150px !important;
    }

    .expertoscard{
      height: 500px !important;
    }
    .imgMods {
      max-width: 120px !important;
    }



}


@media only screen and (max-width: 600px) {
    .imgExperts{
        max-width: 50% !important;
    }
  .expertosparticipacion{
    padding: 0px;
  }
  .expertoscard {
      height: 360px;
  }
  .modal{
    max-height: 90% !important;
    top: 5% !important;
  }

  #moreData{
    position: fixed !important;
    bottom: 5px !important;
    right: 5px !important;
  }

  .footer .ff .row{
    padding-top: 15px !important;
  }

  #font-down{
    font-size: 1.2rem;
    font-weight:700;
    cursor: pointer;
  }

  #font-up{
    font-size: 1.5rem;
    font-weight:700;
    cursor: pointer;
  }

  .categoria-academia{
      position: absolute;
      top:10px;
      left: 5px;
      width: 80%;
      text-transform: uppercase;
      text-align:right;
      color: #596066;
      font-size: 0.8em;
      font-weight: 600;
      display: inline-block;
  }
  .contenido{
    height: 100% !important;
  }
  .iconcourse {
    position: absolute;
    font-size: 1.8rem;
    top: 0px;
    right: 5%;
    width: 15%;
    display: inline-block;
  }

  .categoria-academia {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 90%;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    display: inline-block;
}

  nav .brand-logo {
  width: 50%;

  }

  h1{
      font-size: 25px !important;
      text-transform: uppercase;
      font-weight: black;
  }

  h2{
      font-size: 16px !important;
      text-transform: uppercase;
      font-weight: bold;
  }

  h3{
      font-size: 18px !important;
      text-transform: uppercase;
      font-weight: regular;
  }

  h4{
      font-size: 16px !important;
      text-transform: uppercase;
      font-weight: bold;
  }

img.responsive-img {
  max-height: 70px;
}

    .card-noticias{
    height: 160px !important;
}

.img-noticia{
    width: 120px;
    left: 30px;
    top: 20px;
}


.categoria-noticia{
    top: 25px;
    left: 170px;
}

.titulo-noticia{
    top: 60px;
    left: 170px;
}

.fecha-noticia{
    top: 10px !important;
    left: 10px !important;
}

.aprender-mas{
    text-align: center;
    }
.cerrarModal {
    float: right;
    background-color: #8F6EAA;
    padding: 5px;
    position: relative;
    width: 10%;
    text-align: center;
    right: 0px;
}

.modal#modalMod{
  width: 100%;
  max-width: 100%;
}

.pad-left3{
    padding-left: 1rem;
    padding-right: 1rem;
}

.pad-left{
  padding-left: 0;
}

.fontMob{
  font-size: 10px;
  padding: 12px !important;
}

.textFuncionaMob{
  margin: 0px;
  text-transform: uppercase;
  font-size: 12px;
  color: #596066;
}

.categoria-modulos {

    font-size: 8px;

}

.iconcourseshow {

    width: 4%;

}

#img1{
  padding-left: 0;
}

}

@media all and (max-width : 602px) {
    .categoria-academia{
        padding-right: 15%;
    }
}